<ion-view view-title="Home">
	<ion-pane>
		<ion-content scroll="false">
			<div class="button-bar">
				<a ui-sref="app.projects" class="button button-outline button-large button-positive background-image:url('img/logo.png') 10px 10px no-repeat">
				<i class="icon ion-ios-folder"></i> Projects </a>
				<a ui-sref="app.funds" class="button button-outline button-large button-positive">
				<i class="icon ion-cash"></i> Funds </a>
			</div>
			<div class="button-bar">
				<a ui-sref="app.personnel" class="button button-outline button-large button-positive">
				<i class="icon ion-ios-people"></i> Personnel </a>
				<a ui-sref="app.location" class="button button-outline button-large button-positive">
				<i class="icon ion-ios-location"></i> Location </a>
			</div>
			<div class="button-bar">
				<a ui-sref="app.inventory" class="button button-outline button-large button-positive"> 
				<i class="icon ion-ios-paper"></i> Inventory </a>
				<a ui-sref="app.analytics" class="button button-outline button-large button-positive"> 
				<i class="icon ion-ios-analytics"></i> Analytics </a>
			</div>
    	</ion-content>
	</ion-pane>
</ion-view>
