<ion-view view-title="Login">
	<ion-pane>
		<ion-content style="background: url(img/bg2.jpg) center; background-size: cover;" scroll="false">
		    <div class="hero no-header flat">
		        <div class="content">
					<div style="width: 300px; height: 200px;" class="spacer"></div>
		            <div class="app-icon dark"></div>
		            <h2 >Pro Nirvahana</h2>
		        </div>
		    </div>
			<div style="width: 300px; height: 50px;" class="spacer"></div>
		    <div class="list card">
		        <label class="item item-input">
		            <input type="text" placeholder="Email" ng-model="loginData.mail" ng-click="resetLoginFields()"
						   style="height: 30px; 
								  font-size:18px; 
								  vertical-align:9px;
								  color:#ff8a65" >
		        </label>
		        <label class="item item-input">
		            <input type="password" placeholder="Password" ng-model="loginData.password" ng-click="resetLoginFields()"
						   style="height: 30px; 
								  font-size:18px; 
								  vertical-align:9px;
								  color:#ff8a65" >
		        </label>
				<div style="width: 300px; height: 20px;" class="spacer"></div>
				<div class="list" style="text-align:center">
					<button ng-click="forgotPassword()" style="color:#ff8a65; text-decoration: underline" class="button button-clear">Forgot Password ? </button>
					<button ng-click="loginUser()" style="color:#ff8a65" class="button button-small activated"> Login </button>
		    	</div>
		    </div>
			
		    <div class="list">
				<button ui-sref="app.signUp" style="color:#ff8a65; text-decoration: underline" class="button button-clear ">Don't have an account ? </button>
				<button ui-sref="app.register" style="color:#ff8a65; text-decoration: underline" class="button button-clear ">Organization is not registered ? </button>
			</div>
		</ion-content>
	</ion-pane>
</ion-view>
