<ion-view view-title="Personnel">
	<ion-pane>
		<ion-content scroll="false">
			<div class="list">
				<a class="item" href="#">
					Person1
				</a>
				<a class="item" href="#">
					Person2
				</a>
				<a class="item" href="#">
					Person3
				</a>
				<a class="item" href="#">
					Person4
				</a>
            </div>
			<div class="tabs tabs-balanced tabs-icon-top" >
	            <a class="tab-item">
	                <i class="icon ion-edit"></i> Edit
	            </a>
	            <a class="tab-item active">
	                <i class="icon ion-arrow-graph-up-right"></i> Graphs
	            </a>
           	</div>
    	</ion-content>
	</ion-pane>
</ion-view>
