<ion-view view-title="Personnel">
	<ion-pane>
		<ion-content scroll="false">
			<ion-list>
				<ion-item ng-repeat="person in people">
    				{{person.employeeName}}
					<ion-option-button class="button button-calm icon ion-edit" ng-click="edit(person)"> </ion-option-button>
    				<ion-option-button class="button button-assertive icon ion-ios-trash" ng-click="removePerson(person)"> </ion-option-button>
 		 		</ion-item>
			</ion-list>	
			<div class="tabs tabs-balanced-900 tabs-icon-top" >
				<a ui-sref="app.addPersonnel" class="tab-item">
	                <i class="icon ion-plus-circled"></i> Add
	            </a>
	            <a  class="tab-item active">
	                <i class="icon ion-arrow-graph-up-right"></i> Graphs
	            </a>
           	</div>
    	</ion-content>
	</ion-pane>
</ion-view>
